@model ITOfficeManagementSystem.Models.AssignTask

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Task - IT_OMS</title>
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body style="align-content: center; text-align: center;">
    <h4>Add New Task</h4>
    <hr />
    <div class="container" style="width: 50%;">
        <div class="text-success"><center><h3>@ViewBag.Success</h3></center></div>
        <div asp-validation-summary="All"></div>
        <form class="form-horizontal" asp-controller="AssignTask" asp-action="AddTask" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="TaskTitle" class="col-sm-3 col-form-label">Task Title: </label>
                <div class="col-sm-9">
                    <input asp-for="TaskTitle" class="form-control" placeholder="Enter Task Title" />
                    <span asp-validation-for="TaskTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Description" class="col-sm-3 col-form-label">Description: </label>
                <div class="col-sm-9">
                    @*<input asp-for="Description" class="form-control" placeholder="Enter Task Description" />*@
                    <textarea asp-for="Description" rows="5" class="form-control" placeholder="Enter Task Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="EmployeeId" class="col-sm-3 col-form-label">Employee Id: </label>
                <div class="col-sm-9">
                    <select asp-items="@ViewBag.Employeeid" asp-for="EmployeeId" class="form-control">
                        <option hidden disabled selected>Select Employee Id</option>
                    </select>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group" style="padding-left: 30%;">
                <input type="submit" value="Create" class="btn btn-outline-success" /> |
                <a asp-controller="AssignTask" asp-action="TaskList" class="btn btn-outline-info">Back to List</a>
            </div>
        </form>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>